body {
  background: black;
  padding: 20px;
  padding-top: 0px;
  color: white;
}

button {
  color: white;
  background-color: #6b6b6b;
  border: none;
  border-radius: 4px;
  height: 25px;
}

input {
  color: #acacac;
  background-color: #3b3b3b;
  border: 2px solid #858585;
  border-radius: 3px;
}

#option-bar {
  height: 50px;
  background: #101010;
  margin-bottom: 10px;
  padding: 3px;
  border: 3px solid #505050;
  border-top: none;
}

#content {
  display: flex;
  justify-content: left;
  gap: 10px;
  margin-bottom: 15px;
}

.scroll-box {
  background: #101010;
  margin-bottom: 5px;
  padding: 3px;
  border: 3px solid #505050;
  overflow: hidden;
  overflow-y: auto;
}

#opcode-listbox {
  height: 400px;
  width: 240px;
}

#opcode-statelist {
  height: 400px;
  min-width: 600px;
}

.mstate-container:nth-child(even) {
  /* border: 3px solid #757575; */
}

.mStateCtrlLabelSpan {
  padding-right: 4px;
  padding-left: 4px;
}

.mStateCtrlLabelSpan:nth-child(even) {
  background-color: #e0e000
}

#popup {
  display: flex;
  justify-content: left;
  gap: 10px;
  margin-bottom: 15px;
}

#ctrllines-controls {
  height: 400px;
  width: 120px;

  background: #101010;
  margin-bottom: 5px;
  padding: 3px;
  border: 3px solid #505050;
}

#ctrllines-available {
  height: 400px;
  width: 240px;
}

#ctrllines-selected {
  height: 400px;
  width: 240px;
}

#ctrlform {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3px;
  margin-bottom: 20px;
}

#actionCtrls {
  width: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  margin: 0 auto;
  margin-bottom: 10px;
}