body {
    background: black;
    padding: 20px;
    padding-top: 0px;
}
  
    #option-bar {
      height: 50px;
      background: grey;
      margin-bottom: 10px;
      padding: 3px;
      border: 3px solid #b7b7b7;
      border-top: none;
    }
  
    #content {
      display: flex;
      justify-content: left;
      gap: 10px;
      margin-bottom: 15px;
    }
  
    .scroll-box {
      background: grey;
      margin-bottom: 5px;
      padding: 3px;
      border: 3px solid #b7b7b7;
      overflow: hidden;
      overflow-y: auto;
    }
    
    #opcode-listbox {
      height: 400px;
      width: 240px;
    }
    
    #opcode-statelist {
      height: 400px;
      min-width: 600px;
    }
    
    .mstate-container {
      border: 3px solid #b7b7b7;
      background: dimgrey;
      height: 45px;
      padding: 4px;
      overflow-wrap: anywhere;
    }
    
    .mStateCtrlLabelSpan {
      padding-right: 4px;
      padding-left: 4px;
    }
    
    .mStateCtrlLabelSpan:nth-child(even) {
      background-color: #e0e000
    }
    
    #popup {
      display: flex;
      justify-content: left;
      gap: 10px;
      margin-bottom: 15px;
    }
    
    #ctrllines-controls {
      height: 400px;
      width: 120px;
      
      background: grey;
      margin-bottom: 5px;
      padding: 3px;
      border: 3px solid #b7b7b7;
    }
    
    #ctrllines-available {
      height: 400px;
      width: 240px;
    }
    
    #ctrllines-selected {
      height: 400px;
      width: 240px;
    }
    
    #ctrlform {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 3px;
      margin-bottom: 20px;
    }
    
    #actionCtrls {
      width: 50px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 20px;
      margin: 0 auto;
      margin-bottom: 10px;
    }