body {
  background: black;
  padding: 20px;
  padding-top: 0px;
  color: white;
}

button {
  color: white;
  background-color: #6b6b6b;
  border: none;
  border-radius: 4px;
  height: 25px;
}

button:disabled,
button[disabled] {
  color: #6b6b6b;
  background-color: transparent;
  border: 2px solid #6b6b6b;
  text-decoration:line-through;
  
}

input {
  color: #acacac;
  background-color: #3b3b3b;
  border: 1px solid #858585;
  border-radius: 3px;
}

textarea {
  background-color: #3b3b3b;
  width: 850px;
}

.selected-opcode {
  background-color: red;
}

.selected-mstate {
  background-color: blue !important;
}

.selected-statectrlline {
  background-color: green;
}

.selected-ctrlline {
  background-color: yellow
}

.selected-ctrledit {
  background-color: purple;
  border: 1px dashed red;
}

.selected-macroctrll {
  background-color: magenta;
}

#option-bar {
  height: 50px;
  background: #101010;
  margin-bottom: 10px;
  padding: 3px;
  border: 3px solid #505050;
  border-top: none;
}

#option-bar-inner {
  display: flex;
  gap: 50px;
  
}

#content {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  margin-bottom: 15px;
}

.scroll-box {
  background: #101010;
  margin-bottom: 5px;
  padding: 3px;
  border: 3px solid #505050;
  overflow: hidden;
  overflow-y: auto;
}

#opcode-listbox {
  height: 400px;
  width: 240px;
}

#opcode-statelist {
  height: 400px;
  min-width: 600px;
}

.mstate-container {
  border: 3px solid #686868;
  background: #1b1b1b;
  height: 45px;
  padding: 4px;
  overflow-wrap: anywhere;
  margin-bottom: 5px;
}

.mstate-container:nth-child(even) {
  /* border: 3px solid #757575; */
}

.mStateCtrlLabelSpan {
  padding-right: 4px;
  padding-left: 4px;
}

.mStateCtrlLabelSpan:nth-child(even) {
  background-color: #303030;
  border-left: 1px solid blue;
  border-right: 1px solid blue;
}

#popup {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  margin-bottom: 15px;
}

#ctrllines-controls {
  height: 400px;
  width: 120px;

  background: #101010;
  margin-bottom: 5px;
  padding: 3px;
  border: 3px solid #505050;
}

#ctrllines-available {
  height: 400px;
  width: 240px;
}

#ctrllines-selected {
  height: 400px;
  width: 240px;
}

#ctrlform {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3px;
  margin-bottom: 4px;
}

#ctrlform-buttons {
  display: flex;
  justify-content: center;
  gap: 5px;
}

#ctrlform-buttons button {
  height: 20px;
}

#actionCtrls {
  width: 115px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin: 0 auto;
  margin-top: 8px;
  margin-bottom: 30px;
}

#actionCtrls div {
  width: 115px;
  display: flex;
  justify-content: center;
  gap: 13px;
}

#actionCtrls button {
  width: 55px;
}

#actionCtrls div button {
  width: 45px;
}

#macro {
  height: 137px;
  margin-bottom: 0px;
}

#macro-buttons {
  width: 118px;
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 13px;
}

#macro-buttons button {
  width: 45px;
  height: 20px;
}

